{% extends "base.html" %}

{% block header %}
  <h1>Personal Attributes</h1>
{% endblock %}

{% block content %}

<h2>Drive</h2>
<p>I work on software products because I'm excited about what they are going to achieve. This means I don't see the development process as an end unto itself. It is a process with a distinct goal: to produce a product on time and on budget that consumers love and achieves the businesses aims.</p>

<h2>Vision</h2>
<p>I have a strong sense of where a product I'm working on is heading and the healthiness of its code base. This enables me to recommend courses of action that solve problems at the most cost effective point, before they've happened.</p>


<h2>Pragmatism</h2>
<p>Compromises frequently have to be made to achieve business goals on time and within budget. As such I will take the approach that works well enough over the one that is 100&percnt; theoretically sound but can't be delivered on time. This is often a delicate balancing act in practice though, especially in software projects.<p>

<p>In my direct experience any short cuts taken to hit a tactical goal, say a demo to an investor, usually cost more to fix than going straight to a production quality solution. A good rule of thumb is a 2:1 ratio, i.e. the short cut will cost twice as much as going straight to the production quality solution. This is assuming that the retrofit happens straight away, the more work that is done on top of a short cut the more the cost increases. This is the nasty reality of technical debt.</p>

<p>So sometimes pragmatism is saying no to a short cut because the cost further down the line is going to be too high. Being able to tell the difference between an affordable short cut and one which is likely to start rotting a project from the inside out is something that I have only gained after years of experience in the industry.</p>

<h2>Affability</h2>
<p>I get on well with others and am always willing to help someone out, current work commitments permitting. This means I am comfortable approaching and collaborating with others. In the software world this usually takes the form of presentations, group discussions, code reviews, pairing, recruiting, mentoring and asking the occasional stupid question.</p>

<h2>Leadership</h2>
<p>I have held senior positions for a number of years now and particularly in my last role provided technical leadership within my team. This took a number of forms including conducting research into new technology and approaches, providing support to less experienced members of the team, taking part in the recruitment of new staff and when there wasn't a strong group consensus making a call and shouldering the responsibility for its success or failure.</p>

<p>Colleagues have commented on my clarity, direction and pragmatic compromise to situations where there was not necessarily a clear cut answer to a problem.</p>

<h2>Intelligence</h2>
<p>I am a quick study when it comes to getting up to speed with new projects and technologies. Part of the reason for this is my experience - the more projects and technologies you work on/with the better you get at extrapolating into new situations. I also have a keen sense of when I don't fully understand something and no qualms with asking questions and/or researching until I do.</p>

{% endblock %}

{% block js %}
	<script src="/js/common.js" data-main="/js/main.js"></script>

{% endblock %}