<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alexander Bransby-Williams: Senior Software Engineer</title>

     <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.light_blue-orange.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">

      <header class="mdl-layout__header">

        <div class="mdl-layout-icon"></div>

        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Alexander Bransby-Williams</span>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect" role="navigiation">
          <a class="mdl-layout__tab home{% if uriPath == ''%} is-active{% endif %}" href="#scroll-tab-home">Home</a>
          <a class="mdl-layout__tab tech{% if uriPath == 'technical-skills'%} is-active{% endif %}" href="#scroll-tab-skills">Tech{% if uriPath == 'contact'%}<span class="sr-only">(current)</span>{% endif %}</a>
          <a class="mdl-layout__tab methods {% if uriPath == 'development-methods'%} is-active{% endif %}" href="#scroll-tab-methods">Dev</a>
          <a class="mdl-layout__tab employment{% if uriPath == 'employment'%} is-active{% endif %}" href="#scroll-tab-employment">Employment</a>
          <!-- <li><a href="/demos">Demos</a></li> -->
          <!-- <li><a href="/articles">Articles</a></li> -->
        </div>
      </header>

      <main id="content" class="mdl-layout__content">

          <section class="mdl-layout__tab-panel is-active" id="scroll-tab-home">
            <div class="page-content">
              <h1>Home</h1>
            </div>
          </section>

          <section class="mdl-layout__tab-panel" id="scroll-tab-skills">
            <div class="page-content inject">
              <h1>Skills</h1>
            </div>
          </section>

          <section class="mdl-layout__tab-panel" id="scroll-tab-methods">
            <div class="page-content inject">
              <h1>Methods</h1>
            </div>
          </section>

          <section class="mdl-layout__tab-panel" id="scroll-tab-employment">
            <div class="page-content inject">
              <h1>Employment</h1>
            </div>
          </section>

      </main>

      <nav class="navbar navbar-default navbar-static-bottom" role"secondary-navigation">
          <div class="container">
              <ul class="nav navbar-nav navbar-right">
                  <li {% if uriPath == 'privacy-policy'%}class="active"{% endif %}><a href="/privacy-policy">Privacy Policy</a></li>
                  <li {% if uriPath == 'cookie-policy'%}class="active"{% endif %}><a href="/cookie-policy">Cookie Policy</a></li>
                  <li {% if uriPath == 'copyright'%}class="active"{% endif %}><a href="/copyright">Copyright</a></li>
                  <li><a style="padding-top: 10px; padding-bottom: 5px;" href="https://github.com/adoublebarrel"><img src="/img/GitHub-Mark-32px.png"></a></li>
              </ul>
          </div>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
