{% extends "base.html" %}

{% block header %}
  <h1>Copyright</h1>
{% endblock %}

{% block content %}

	<p>Code &copy; 2014 Alexander Bransby-Williams <a href="https://creativecommons.org/licenses/by-nc/3.0/"><img src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" alt="cc by nc"></a></p>

    <p>Content &copy; 2014 Alexander Bransby-Williams All Rights Reserved</p>

	<p>Source is available at <a href="https://github.com/adoublebarrel/curriculum-vitae">Github</a></p>

{% endblock %}

{% block js %}
	<script src="/js/common.js" data-main="/js/main.js"></script>
{% endblock %}