{% extends "base.html" %}

{% block header %}
  <h1>Employment History</h1>
{% endblock %}

{% block content %}

<ul class="list-unstyled">
	<li>
		<h2>Freelance</h2>
		<h4>December 2014 - Present</h4>
	</li>
	<li>
		<h2>Full Time Study</h2>
		<h3>MSc in Advanced Computing</h3>
		<h4>October 2013 - November 2014</h4>
	</li>
	<li>
		<h2>Nokia Entertainment<h2>
		<h3>Senior Software Engineer</h3>
		<h4>September 2010 – October 2013</h4>
		<h4>www.mixrad.io</h4>
		<ul>
			<li>Completed a proof of concept web audio experience which secured the decision to produce a public offering</li>
			<li>Formed a special interest group for web technologies whose members were then formally recognised and used to form the team that produces music.nokia.com</li>
			<li>Secured a promotion to Senior Software Engineer based on my leadership in forming the special interest group and technical expertise</li>
		</ul>
	</li>

	<li>
		<h2>Blubolt</h2>
		<h3>Developer</h3>
		<h4>October 2009 – June 2010</h4>
		<h4>www.blubolt.com</h4>
		<ul>
			<li>Working on the maintenance and improvement of Blubolts in house e- commerce platform Blucommerce</li>
			<li>Taken the lead on the production of a new clients site as well as supporting the production and maintenance of existing clients sites. Examples include www.max-vacuum.com, www.happyspaces.co.uk, www.bloomsburystore.com</li>
		</ul>
	</li>

	<li>
		<h2>Mediaclash</h2>
		<h3>Systems Developer and Systems Administrator</h3>
		<h4>August 2008 – October 2009</h4>
		<h4>www.mediaclash.co.uk</h4>
		<ul>
			<li>Production of websites such as www.getdigitalradio.co.uk (CakePHP) and www.thebathpriory.co.uk (Django) all with strong CMS elements.</li>
			<li>Wrote an SMS processing application for the Digital Radio Development Bureau (DRDB) that allows the public to check how many digital radio stations they can receive for a particular postcode</li>
			<li>Re-engineered the DRDB's Postcode Checker service which is used by a number of third party sites to check station availability.</li>
		</ul>
	</li>

	<li>
		<h2>Isotope Communications</h2>
		<h3>Systems Developer and Systems Administration</h3>
		<h4>May 2006 – August 2008</h4>
		<ul>
			<li>Produced and maintained an in house PHP framework with the aim of speeding the production of database (MySQL) driven websites.</li>
			<li>Produced a dynamically generated PDF reporting tool.</li>
			<li>Setup the motion capture and aided in the load balancing of traffic for a famous cheese (www.cheddarvision.tv).</li>
			<li>Setup and maintenance of various Apache web servers, Bind 9 DNS servers and an Exim mail server.</li>
		</ul>
	</li>

	<li>
		<h2>Plum Digital Media</h2>
		<h3>Contracting as a Systems Developer</h3>
		<h4>March 20th – April 24th 2006</h4>
		<h4>www.plumdigitalmedia.com</h4>
		<ul>
			<li>Implementing an e-commerce module for an in-house CMS framework.</li>
		</ul>
	</li>

	<li>
		<h2>Eduserv Internet</h2>
		<h3>Contracting as a Systems Developer</h3>
		<h4>February 06th – February 24th 2006</h4>
		<h4>www.eduserv.org.uk</h4>
		<ul>
			<li>Various components and a migration script in C#/.NET for the delivery of a CMS based upon the SiteCore CMS Framework.</li>
		</ul>
	</li>

	<li>
		<h2>Enable Interactive</h2>
		<h3>Contracting as a Systems Developer</h3>
		<h4>January 16th – February 2nd</h4>
		<ul>
			<li>Production of a CMS system from scratch in PHP and MySQL.</li>
		</ul>
	</li>

	<li>
		<h2>Eduserv Internet</h2>
		<h3>Systems Developer</h3>
		<h4>June 2001 – September 2005</h4>
		<h4>www.eduserv.org.uk</h4>
		<ul>
			<li>Completed projects for small to large Government departments and academic bodies.</li>
		</ul>
	</li>

</ul>

{% endblock %}

{% block js %}
<script src="/js/common.js" data-main="/js/main.js"></script>
{% endblock %}