{% extends "base.html" %}

{% block header %}
  <h1>Alexander Bransby-Williams <small class="text-nowrap">Senior Software Engineer</small></h1>
{% endblock %}

{% block content %}

	<h2>Hello and Welcome</h2>
      <p>I'm a freelance web&ndash;focused software engineer looking for work.</p>

      <p> The aim of this site is to allow prospective employers to build up a more detailed picture of my capabilities than a two&ndash;page CV can provide.  It also acts as a handy place to keep track of all the bits of tech I've used during a career that has spanned over 14 years.</p>

      <p>If there's something you want to know about but can't find, please <a href="/contact">get in touch</a> &mdash; I'm always happy to talk.</p>

{% endblock %}

{% block js %}
	<script src="/js/common.js" data-main="/js/main.js"></script>
{% endblock %}