{% extends "base.html" %}

{% block header %}
  <h1>Alexander Bransby-Williams <small class="text-nowrap">Senior Software Engineer</small></h1>
{% endblock %}

{% block content %}

	<h2>Hello and Welcome</h2>
      <p>You've arrived at a site all about Alexander Bransby-Williams&rsquo; career as a web focused software engineer.</p>

      <p>The aim is to provide a resource that allows prospective employers to build up a more detailed picture of my capabilities than a two page CV can provide. It also allows me to keep track of all the bits of tech, great and small, that I've used over a career that has spanned over 14 years.</p>

    <h2>What I'm doing now</h2>
      <p>I'm pursuing a transition into the field of big data with a particular focus on machine learning. To this end I was taking an Msc in machine learning but realised that I wasn't going to be able to refresh my (13 years stale) Mathematics quickly enough to get the most from the course. So the Msc was put on hold while my Mathematical skills were fully refreshed/re-learnt.</p>

      <p>Now I need some cash to continue pursuing my goal. So, I'm seeking contracting work where my skills and experience in producing web services and clients can be put to use.</p>

{% endblock %}

{% block js %}
	<script src="/js/common.js" data-main="/js/main.js"></script>
{% endblock %}