{% extends "base.html" %}

{% block header %}
  <h1>Privacy Policy</h1>
{% endblock %}

{% block content %}

	<p>This application collects your email address and other potentially personal data when you use the contact form to get in touch with Alex. This data is not stored by the application once an email has been sent. However this application makes use of several Google Services including a service to send the email. As a result the data is made availiable to Google as part of their provision of these Services. Processing of the data provided in the contact form may take place in the United States of America.</p>

	<p>Any information that Alex receives via email will not be passed on to any third parties without the explicit consent of the messages author.</p>

{% endblock %}

{% block js %}
	<script src="/js/common.js" data-main="/js/main.js"></script>
{% endblock %}