{% extends "base.html" %}

{% block header %}

  <h1>Technical Skills <small class="text-nowrap"><a id="filter-name" type="button" class="btn-lg btn-link" role="button">Programming Languages<span class="caret"></span></a></small></h1>


  <div id="filter-controls" class="input-group hidden">
  	<span id='filter-dropdown' class="input-group-btn">
  	   <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="sr-only">filters</span><span class="caret"></span></button>

		<ul id='filter-options' class="dropdown-menu" role="menu">
			<li><a href="#?filter=" data-filter="Web Client">Web Clients</a></li>
			<li><a href="#?filter=" data-filter="Web Server">Web Servers</a></li>
			<li class="divider"></li>
			<li><a href="#?filter=" data-filter="Programming Language">Programming Languages</a></li>
			<li><a href="#" data-filter="Database">Databases</a></li>
			<li class="divider"></li>
			<li><a href="#" data-filter="Framework">Frameworks</a></li>
			<li><a href="#" data-filter="Library">Libraries</a></li>
			<li class="divider"></li>
			<li><a href="#" data-filter="Continuous Integration">Continuous Integration</a></li>
			<li><a href="#" data-filter="Version Control">Version Control</a></li>
			<li><a href="#?filter=" data-filter="HPC">HPC</a></li>
			<li class="divider"></li>
			<li><a href="#filter=" data-filter="All">All</a></li>
		</ul>		
  	</span>
  	<input id="custom-filter" type="text" class="form-control" placeholder="e.g. python, 'php', javascript" value="">

	  <div class="input-group-btn">

<!-- 		  <button type="button" class="btn btn-danger"><span class="sr-only">Ok</span>clear<span class="glyphicon glyphicon-remove"></span></button></span> -->
		  <button id="filter-ok" type="button" class="btn btn-success"><span class="sr-only">Ok</span><span class="glyphicon glyphicon-ok"></span></button>  
	  </div>

  </div>
{% endblock %}

{% block content %}
<table id="skills" class="table table-condensed">
	<thead>
		<tr>
			<th><a id="sort-by-name" class="sort" href="#">Name <span class="glyphicon glyphicon-sort"></span></a></th>
			<th><a id="sort-by-years" class="sort" href="#">Years <span class="glyphicon glyphicon-sort"></span></a></th> 
		</tr>
	</thead>

	<tbody>
	{% for skill in skills %}
	<tr {% if 'Programming Language' not in skill.tags %}class="hidden"{% endif %} data-tags="{{ skill.tags|join(',') }}">
		<td class="name"><a href="/skills/{{ skill.key.urlsafe() }}">{{ skill.name|escape }}</a></td>
		<td class="years"><span class="badge">{{ (skill.months/12)|round|int }}</span></td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<!-- Modal -->

<div class="modal fade" id="skills-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-close" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="skill-name">Modal title</h4>
      </div>
      <div id="skill-description" class="modal-body">
      </div>
      <div class="modal-footer hidden">
        <h5>You Will: <span id='skill-will'></span></h5>
        <h5>You Wont: <span id='skill-wont'></span></h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="/js/common.js" data-main="/js/tech-skills.js"></script>
{% endblock %}