{% extends "base.html" %}

{% block header %}
  <h1>Development Methods</h1>
{% endblock %}

{% block content %}
<table class="table table-condensed">
	<thead><tr><th><a href="#" >Name <span class="glyphicon glyphicon-sort-by-alphabet"></span></a></th><th><a href="#">Years <span class="glyphicon glyphicon-sort-by-order-alt"></span></a></th></tr></thead>

	<tbody>
		<tr>
			<th>Pair Programming</th>
			<td><span class="badge">3</span></td>
		</tr>

		<tr>
			<th>Mentoring</th>
			<td><span class="badge">2</span></td>
		</tr>

		<tr>
			<th>Research</th>
			<td><span class="badge">13</span></td>
		</tr>

		<tr>
			<th>Prototyping</th>
			<td><span class="badge">13</span></td>
		</tr>

		<tr>
			<th>Presenting</th>
			<td><span class="badge">13</span></td>
		</tr>

		<tr>
			<th>Recruiting</th>
			<td><span class="badge">5</span></td>
		</tr>

		<tr>
			<th>Agile</th>
			<td><span class="badge">3</span></td>
		</tr>

		<tr>
			<th>Scrum</th>
			<td><span class="badge">2</span></td>
		</tr>

		<tr>
			<th>Kanban</th>
			<td><span class="badge">1</span></td>
		</tr>

		<tr>
			<th>Test Driven Development</th>
			<td><span class="badge">1</span></td>
		</tr>

	</tbody>
</table>

<ul class="list-group">

	<li class="list-group-item">
		<h2>Pair Programming</h2>
		<p>My role at Nokia was where I first came across formal Pair Programming, in addition to official agile techniques in general. Before that I you could say I paired on an ad-hoc basis in situations such as; "I'm stuck can somebody help?", "you're new to the code base so let me show you around", "I've written something a bit hairy, can someone help me clean it up?".</p>

		<p>Overall I'm pro pairing. I like the reduction of the "bus factor", that it can propagate skills and good practice and that it helps keep the code blinkers at bay. However it is a tool and the use of a tool depends on context, sometimes pair programming isn't the right tool and slavishly sticking to it can do more harm than good.</p>
	</li>

	<li class="list-group-item">
		<h2>Mentoring</h2>
		<p>I have strong mentoring experience. At Nokia I was heavily involved with the local student placement programming and took direct for ensuring that students who joined my team had a structured and smooth introduction. As a senior engineer at Nokia and a technical lead I also mentored a number of my fellow team members in specific areas.</p>
	</li>

	<li class="list-group-item">
		<h2>Research</h2>
		<p>Informally I have continuously researched new skills and technology, one of my favourite aspects of the software industry is that this is essential to stay current. More formally, my recent experience with taking an Msc program has improved my ability to evaluate, structure and communicate the results of research.</p>
	</li>

	<li class="list-group-item">

		<h2>Prototyping</h2>
		<p>In the sense of rapidly producing proof of concept systems that are thrown away for a fresh start if the concept is proved to be viable. This is a tool that I have made use of throughout my career.</p>

	</li>

	<li class="list-group-item">
		<h2>Presentations</h2>
		<p>I am very comfortable giving presentations on a small and informal scale, typically to one to two teams of 6-7 people. While I have occasionally presented, and slightly more frequently co-presented, to modest rooms of people I wouldn't describe the results as slick. This is an area that I'm lookings to actively improve upon.</p>

	</li>

	<li class="list-group-item">
		<h2>Recruiting</h2>
		<p>As a senior engineer I have been involved with the recruitment of new members of staff, primarily from the perspective of discovering and confirming candidates technical competencies. This has included CV filtering, the creation of standard question sets as well as more involved exercises and the actual conducting of first, second and third stage interviews.</p>
	</li>

	<li class="list-group-item">
		<h2>Agile</h2>
		<p>In my experience the techniques that make up Agile vary from organisation to organisation and often from team to team that make up an organisation. Since the core ethos of agile is "getting stuff done" this makes sense, what's necessary to get a job done is going to vary from context to context. This is a rather long winded way of saying that my experience of agile is unlikely to be exactly the same as your experience of agile. There are two features that seem to be core though, light weight processes that are under constant change. Agile isn't a box that you can tick and declare mission accomplished, it is something that has to be strived for from week to week and yet cannot ever be fully achieved.</p>

		<p>My experience with the tools and techniques that make up agile are listed in this section.</p>
	</li>

	<li class="list-group-item">
		<h2>Scrum</h2>
		<p>The version of Scrum I worked with involved 2 week sprints with a typical team composition being a scrum master, product owner and four engineers. Another common composition would either add or swap a ux/ui designer for an engineer. Retrospectives were conducted at the end of the two week cycle and the target maximum time for daily standups was ten minutes.</p>
	</li>

	<li class="list-group-item">

		<h2>Kanban</h2>
		<p>A persons experience of Kanban is going to differ significantly depending on the processes that are in place when it is initiated. In my case the team I was in was used to operating Scrum when a Kanban approach was adopted. This meant we retained many of the same tools (such as stories, backlog, the board) and ceremonies (backlog grooming, standup, retrospectives) as Scrum but were allowed to make incremental changes that could be considered to break the scrum model.</p>
	</li>

	<li class="list-group-item">
		<h2>Test Driven Development (TDD)</h2>
		<p>I and some of the teams I have been in have dabbled with TDD but despite working with some champions of this approach I haven't been a member of a team that has fully committed to it. So, while I'm an admirer of it as an approach and use it on a small scale for personal projects, I can't draw any experiential conclusions on its advantages and drawbacks in larger team based projects.</p>
	</li>
</ul>
{% endblock %}
