{% extends "base.html" %}

{% block header %}
  <h1>Alexander Bransby-Williams <small>Senior Software Engineer</small></h1>
{% endblock %}

{% block content %}
      <p>Experienced *nix based software engineer with strong expertise in web services and applications currently looking for contracting opportunities.</p>

      <p>Frontend competencies include core Javascript, CSS/HTML skills in combination with supporting libraries such as jquery and bootstrap, amongst others.</p>

      <p>Server side programming experience includes Python and PHP. Direct experience of setting up and operating in continuous integration environments for larger projects which depends on good practices such as source control (git), unit and integration testing to keep code confidence high. Release early, release often.</p>

      <p>Very strong dev-ops skills range from compiling software from source on bare metal to working in a fully virtualised and loadbalanced environment that enables horizontal scaling.</p>

{% endblock %}
