{% extends "base.html" %}

{% block header %}
  <h1>Technical Skills</h1>
{% endblock %}

{% block content %}
<h2>PHP</h2>
<h3>Years: 13</h3>
<h3>Frameworks: include Zend and CakePHP</h3>
<p>Learnt during my first role as a graduate I've used PHP as the glue to produce small database driven web services and products upto large, API driven, multi-lingual products that have been rolled out to over 35 territories across the globe. I also have a number of payment integrations under my belt.</p>

<h4>You Will: Want me to do anything you need PHP for.</h4>
<h4>You Wont: Want to choose anyone else.</h4>

<h2>CSS/HTML</h2>
<h3>Years: 14</h3>
<h3>Frameworks: include Bootstrap and HTML5 Boiler plate.</h3>
<p>A constant since my first web job back in 1999 knowledge of these core web technologies has been kept upto date my whole career. I have direct experience in championing mobile first approaches coupled with responsive design in my last role. I also tend to favour graceful degradation, where the latest browser features are taken advantage of as a starting point for a design, rather than progressive enhancement. However choice of approach when it comes to web design is very much dependent on the type of product, target audience and budget. My experience is that it's best to adopt the combination of approaches that best fit the job at hand.</p>

<p>It's also important to note that I would distinguish myself as a web developer rather than a web designer. While I am capable of cut and shut jobs in the Gimp and Photoshop I would not be comfortable creating site assets from scratch.</p>

<h4>You Will: Want me to advise on approaches that best suit your product and/or work closely with your designer to achieve great web interfaces.</h4>

<h4>You Wont: Want me to be point man for the UI/UX of your product or producing site assets from scratch.</h4>

<h2>Javascript</h2>
<h3>Years: 14</h3>
<h3>Frameworks: include JQuery, AngularJS, FlightJS.</h3>
<h3>Libraries: include SoundManager, Jplayer.</h3>
<p>While I've worked with JS my entire career my knowledge of it as a language heavily accelerated during my time at Nokia. If you're doing more than just changing CSS classes I consider Crockfords Javascript the Good Parts required reading and highly recommend Addy Osmanis Learnig Javascript design patterns. I still consider JQuery to be essential if you want your product to work on a wide number of browsers with a minimum of fuss. If a framework is being used I tend to prefer lighter ones that augment/work with the DOM model we have currently such as FlightJS rather than ones which enforce their own model such as AngularJS. That's not to say that Angular isn't an impressive piece of work.<p>

<p>I've tinkered with NodeJS but didn't consider it ready for production environments where %99.99 uptime Service Level Agreements are in place. If you're looking for someone to help with a NodeJS based product then I would be very interested in the work and how you are finding its' stability.</p>

<h4>You will: Want me to consult, lead and/or help produce your JS codebase.</h4>
<h4>You wont: Want to miss out on having someone this experienced on your team.</h4>

<h2>Python</h2>
<h3>Years: 2</h3>
<h3>Frameworks: include Django, webapp2.</h3>
<h3>Libraries: include OpenCV.</h3>
<p>I first started producing Python code in a commercial setting when I worked for MediaClash where the Django framework was being used to produce websites for small to medium sized businesses. I quickly became a fan of the language and in terms of scripting it is currently my tool of choice for personal projects.</p>

<p>It's mixing of mutable and immutable types can be a bit problematic for novice Pythonistas so I highly recommend Learning Python by Mark Lutz to achieve clarity on the languages design and his follow on book Programming Python to sharpen your skills.</p>

<p>Most recently I've used Python as part of a Msc for various data cleaning tasks and a cloud computing project based upon Google App Engine. Goople App Engine with Python, webapp2 and Jinja2 templates are my current gotos for any personal web based projects I'm doing. Indeed this very website has been producted ontop of that stack.</p>

<p>I am also using Python to explore the areas of machine learning and big data as this is ultimately the field that I want to move into over the next 2-5 years. I've chosen Python over R as a) I'm already familiar with it, b) The scientific community for Python is very active and c) Python is applicable to more problem domains, such as web development which I need to maintain my proficiency while I make the transition. Saying that Julias speed advantage over Python could well be enough for me to jump to it when tackling larger scientific computing problems.<p>
</p>

<h4>You Will: Want me to be a senior engineer helping to produce your Python based product.</h4>
<h4>You Wont: Want me to be the only technical lead on your product, especially of you are producing a Python library/API.</h4>

<h2>Google App Engine</h2>
<h3>Years: 1-2</h3>
<h3>Complimentery: include webapp2, Jinja2</h3>
<p>I first started tinkering with App Engine several years ago as part of keeping my skills fresh. Since then I've deployed one small web site for a client, produced a limited App Engine product as part of an Msc and produced this application which you are interacting with right now.</p>

<p>The Msc project for a cloud computing unit was particularly useful since it required a knowledge of App Engine as a whole and in particular its various data storage options. To this end I'd highly recommend reading Dan Sandersons Programming Google App Engine. I found the details he goes into on the mechanics of the various data storage options very useful indeed given my experience with various relational database management systems which to scale and guarantee uptime usually involves sharding and the use of indexing tools such as Solr.</p>

<p>This service from google is currently my go to for personal projects as it enables the focus to be on the product itself by more or less taking the operational considerations out of the equation.</p>

<h4>You Will: Want me to advise/lead/produce your migration to/creation of an App Engine based product.</h4>
<h4>You Wont: Want to miss out on having me as part of your team.</h4>

<h2>Java</h2>
<h3>Years: 1</h3>
<p>Java was the language used to teach programming as part of my degree. This was a long time ago, we're talking Java 1.3 but it was a good tool for learning the fundametals of Object Orientated Programming. Since then my work with Java has been minimal. I've occasionally hacked a line or two to get a piece of software working with the help of the internet and written a number of Selinium tests to aid with the continuous integration of various web products.</p>

<h4>You Will: be able to trust me to use Java at a superficial level and/or quickly up my knowledge if required.</h4>
<h4>You Wont: Want me anywhere near a lead Java Programmer position, without some time reading up and working at the coal face.</h4>

<h2>C/C++</h2>
<h3>Years: 0.5</h3>
<p>I recently learnt C as part of an Msc course I was taking. Specifically I learnt it while taking a High Performance Computing (HPC) unit where we were optimising a provided two dimensonal simulation of water flowing along a surface with obstacles present. I would describe myself as proficient with the language itself but in need of more code cutting experience to come across and debug more problems. This in turn would up my proficiency with the various [enter some here] profiling and debugging tools which I see as key to becoming a highly effective/efficient C programmer.</p>

<p>I also became proficient in C++ after C as part of doing some computer vision base work which involved the use of the OpenCV library as well as using the OpenCL C++ interface as part of the HPC unit. Again I would say that I need more code cutting time to come across and debug more problems but in addition to improving my proficiency with the [put some here] profiling and debugging tools it would also deepen my practical experience of the standard library.</p>

<h4>You Will: Want me to produce well defined units of work.</h4>
<h4>You Wont: Want me in a senior coding position or coming straight into high time pressure situations.</h4>

<h2>Apache httpd</h2>
<h3>Years: 14</h3>
<p>The first web server I used when I started in the industry in 1999 when I would compile it from source on Sparc Solaris machines my practical experience with the Apache web server and its available modules is extensive.</p>

<p>In my last position we used Apache as part of a horizontally scalable load balanced solution. My experience with this server outstripped many of the sysadmins which allowed us to collaborate to get the most out of the loadbalancers by offloading some of the work they were doing onto the Apache Servers. This was great dev-ops collaboration and was a testament to the great attitudes between the teams.</p>

<h4>You Will: Want me to advise, collaborate and implement changes to your Apache server setup to get the most out of your infrastructure.</h4>
<h4>You Wont: Be able to find many developers who have this level of experience and ability to work with your sysadmins.</h4>

<h2>MySQL</h2>
<h3>Years: 12</h3>
<p>I've designed, implemented and optimised many a schema for MySQL databases that were used as the backend of various web services and sites. I've also setup replication infrastructures for load balanced systems. I have classical training from my degree and the practical experience to take a schema design to 3rd normal form and then regress it for the sake of performance.</p>
<p>I've not been directly involved with the sharding of large datasets and the use of seperate indexing technology such as Solr. In been hands on with MySQl for couple of years but will be able to get back up to speed quickly if required.</p>
<h4>You Will: Want me to advise on schema design, indexing and query optimisation for small to large datassets.</h4>
<h4>You Wont: Want me to be in charge of a project to shard, index and optimise a huge dataset.</h4>

<h2>PostrgeSQL</h2>
<h3>Years: 11</h3>
<p>I've designed, implemented and optimised a number of databases in PostgreSQL over the years. I have classical training from my degree and the practical experience to take a schema design to 3rd normal form and then to peel it back for the sake of performance.</p>
<p>The biggest PostgreSQL database I've worked with was for UK Digital Radio postcode checker which maps the signal strength of digital stations to postcodes in the UK. The database was in the order of tens of millions of rows. After taking over responsibility for the database I reduced the amount of time it took for updates receieved from Arqiva to be made from 3-4 days to 2-4 hours.</p>
<p>My last role was purely application focused meaning I haven't worked directly with Postgres for a few years but renewing that knowledge wouldn't be a difficult task.</p>
<p>I don't have direct experience with larger data sets which may require a sharded PostrgeSQL solution.</p>
<h4>You Will: Want me to advise on schema design, indexing and query optimisation for small to large datasets.</h4>
<h4>You Wont: Want me to be in charge of a project to shard, index and optimise a huge dataset.</h4>

<h2>Linux</h2>
<h3>Years: 14</h3>
<p>Linux and other *nix based systems have been the mainstay of my career. My early roles would probably now be described as dev-ops as I did a mix of sysadmin and development. While my career solidified around software development/engineering I have found my early experience very useful enabling me to setup and maintain a multitude of different development environments and have intelligent conversations with the teams that have provided the infrastructure for live environments I have operated in.</p>

<p>I am very comfortable on the command line meaning I am capable of doing live problem diagnosis in tandem with a sysadmin when required. This is invaluable when trying to determine whether the root cause of an issue is a bug in the code, an infrastructure issue or, in the most unfortunate cases, a combination of the two. I have by no means learnt all the tips and tricks though and enjoy being shown new skills by a good sysadmin.</p>

<h4>You Will: Want me to work with your operations people, create and maintain development environments as part of a team and help with live issues.</h4>
<h4>You Wont: Want me to install a disk cluster or try to diagnose a network infrastucture problem.</h4>

<h2>Windows</h2>
<h3>Years: 14</h3>
<p>My experience with Windows systems have been a limited constant throghout my career. I've known enough to be able to troubleshoot problems as part of an on call team but knowing that I have the backup of a more knowledgeable colleague if required. I've worked with a number of Windows based development environments over the years, generally when managing my own Linux workstation/laptop isn't an option. This means that I am familiar with the requisite tools such as remote desktop to get to other Windows machines and Putty to be able to get onto other Linux machines. This also works the other way round, that is I am used to establishing remote desktop sessions from Linux workstations. It also means that I have come across and worked around fun issues in a mixed environment such as version control systems getting confused because Windows files are case insensitive While *nix files are case sensitive. Always fun.</p>

<p>I did spend about a year as a C# developer in the context of producing Sitecore based web sites but that was some time ago.</p>

<h4>You Will: Be able to trust me to find my way around a Windows based environment and turn stuff on and off again.</h4>
<h4>You Wont: Want me to troubleshoot complicated problems with IIS, SQL Server or other Microsoft products.</h4>

<h2>Perl</h2>
<h3>Years: 4</h3>
<p>The first language I produced websites in I rarely pick this up any more as Python is my go to tool of choice for small scripting jobs.</p>
<h4>You Will: Want me to convert Perl assets to another language or keep existing assets running.</h4>
<h4>You Wont: Want me to lead a Perl based project.</h4>

<h2>Miva</h2>
<h3>Years: 3</h3>
<p>This is probably the most obscure scripting language I've worked with which I came across in my first role after graduating. I've just checked and it still appears to be going as Miva Merchant. I would need a strong motivating factor to work with it again.</p>
<h4>You Will: Probably not of heard of this scripting language.</h4>
<h4>You Wont: Want to recruit me for this, I barely remember it.</h4>

<h2>C#</h2>
<h3>Years: 1</h3>
<p>I worked as part of a team producing content management systems based upon a product called SiteCore. SiteCore is a Windows based product so we were required to learn C# and .NET along with it.</p>

<p>My career since hasn't involved any C# which is a bit of a shame since it's a good well designed language. I still dabble with it on some personal projects but nothing that's seen the light of day yet. My knowlegde of .NET would be very out of date if it hadn't already atrophied rather badly.</p>

<h4>You Will: Be able to expect me to pick this up again if it's required.</h4>
<h4>You Wont: Be able to expect me to come in to a time pressured situation and make the difference with my C# skills.</h4>


<h2>ASP</h2>
<h3>Years: 2</h3>
<p>One of my duties at MediaClash was maintaining an number of older client sites. These were based on previous technical stacks now that all new sites were being produced using the Python based Django framework. A number of these were produced using ASP, not ASP .NET just ASP. Changes to their codebases were usually around hard coded data which while I hadn't used ASP before, one scripting language is much like another, which was enough for me to keep the sites running.</p>
<h4>You Will: Not be using ASP any more. For your sake I hope so.</h4>
<h4>You Wont: Want to tell me about it unless it's to help update your product to something more cost effective.</h4>

<h2>(SWI-)Prolog</h2>
<h3>Years: 0.5</h3>
<p>Only used in an academic setting as part of an Msc and for personal dabbling. It took some getting used to after spending so many years programming in other not only other languages but in different programming paradigms. For me at the moment it is an interesting toy but I have some personal projects where I think this language may provide a practical benefit.</p>
<h4>You Will: Want to have a chat if you're looking people who have some experience in this area.</h4>
<h4>You Wont: Want to put me in charge of a project that depends on lots of experience with Prolog.</h4>

<h2>Matlab</h2>
<h3>Years: 0.5</h3>
<p>I've used Matlab in a purely academic context as part of an Msc. The application areas were varied including Bioinformatics, genetic algorithms and robotics.</p>
<h4>You Will: Be able to trust me to find my way round Matlab.</h4>
<h4>You Wont: Want to hire me as a Matlab expert.</h4>

<h2>Selenium</h2>
<h3>Years: 2</h3>
<p>I've used Selenium and Selenium grid to conduct automated multi-browser testing of web products as part of a continuous integration environment. However the team I was part of eventually abandoned this solution as the overhead of maintaining the various browser drivers and the lag between browser updates breaking the selenium drivers and fixes being released resulted in too many false positives. We were spending so much time figuring out whether breakages were due to our code or selenium driver problems that it was impacting our ability to deliver new functionality.<p>

<p>The situation may of improved since then but my current stance is that it is better to use a third party tool such as Browser stack, especially as it also simulates different devices, than try to keep a large suite of test devices as part of an automated solution.</p>

<h4>You Will: Want me to advise on usage of Selenium and other testing options.</h4>
<h4>You Wont: Find many with as much hands on experience with this tech.</h4>

<h2>Jenkins</h2>
<h3>Years: 2</h3>
<p>In my last role Jenkins was used to automate a number of continuous integration tasks as well as to provide an interface for periodic tasks such as the building, testing and deployment of new releases of various products. I have installed, configured and migrated a number of jenkins servers and jobs giving me a lot of hands on experience with this tool.</p>
<h4>You Will: Want me to help setup Jenkins as part of a continuous integratation environment.</h4>
<h4>You Wont: Have to worry about holding my hand.</h4>

<h2>Git</h2>
<h3>Years: 3</h3>
<p>In my last role I championed the move to Git inside my team for a new project, the previous standard had been Subversion. While there was some nervousness amongst some team members with support from myself and other members who were familiar with Git we successfully made the transition.</p>

<p>I am by no means a git expert and have only really scratched the surface of some of its functionality but know enough to cater for day to day development duties. I tend to prefer the command line over guis although guis are useful for visualising branching and merging when it's required. Speaking of visualisations if you don't know of it already you should totally checkout Gource. It's awesome, especially when a projects been running for a while.</p>

<h4>You Will: Be able to leave to it once you explain your branching, push, pull and release policies.</h4>
<h4>You Wont: Want to me to try to explain Gits internals off the top of my head.</h4>

<h2>Subversion</h2>
<h3>Years: 13</h3>
<p>I moved to Subversion as soon as the first stable version was released as it fixed so many of the problems with CVS. It was a huge improvement but still had problems. There are now much better options out there, personally I use Git, figuring if it's good enough the Linux Kernel development then it's good enough for me. I also hear good things about Mercurial from people whose opinion I respect and I know are happy using Git as well, I just haven't got round to trying it yet.</p>
<p>If you're reading this because you're looking for someone who can use Subversion, I can but I'll also give some advice you haven't asked for. Migrate your project to Git or Mercurial. I know it can be a lot of effort and some people will grumble at the change but I can vouch that Git is better, there's just a set of problems I don't have to deal with now and good people tell me Mercurial is too. It may be painful but it will be worth it in terms of productivity.</p>
<h4>You Will: Want me to help migrate away from Subversion.</h4>
<h4>You Wont: Be able to stop me agitating for a move to a more modern version control system if I'm spending more than a short amount of time with you.</h4>

<h2>CVS</h2>
<h3>Years: 3</h3>
<p>It did a good job for its time but I really hope you're not still using CVS. Move to Git or Mercurial, for the sake of all your developers. Wont somebody think of the developers!?</p>
<h4>You Will: Want me to help you migrate to a modern version control system.</h4>
<h4>You Wont: Want to keep using CVS.</h4>

<h2>Gettext</h2>
<h3>Years: 3</h3>
<p>Used in a PHP context to provide a multi-lingual and localised web product to 35 different territories. I recommended it's use within the project and worked with the third party translators to ensure they and we were happy.</p>
<h4>You Will: Want my expertise with Gettext and producing multi-lingual products in general.</h4>
<h4>You Wont: Want me translating things myself.</h4>

<h2>Maven</h2>
<h3>Years: 2</h3>
<p>I learnt Maven in my last role where it was the backbone of the continuous integration environment. Using it to wrap a PHP product was a little... inelegant as it is more of a Java tool and so there are assumptions about compile steps. It is also a on the heavy side as its configuration files are XML based but it does get the job done.</p>
<h4>You Will: Be able to leave me to find my way around project configuration files and to come up with new projects from scratch.</h4>
<h4>You Wont: Find me wearing a Maven t-shirt. If there is one.</h4>

<h2>Wire Shark</h2>
<h3>Years: 5</h3>

<h2>Fiddler</h2>
<h3>Years: 2</h3>
{% endblock %}